# For configuration details, see: https://hawkins.gitbook.io/dispatch/configuration/app

# General
COMPOSE_PROJECT_NAME=dispatch
DISPATCH_HELP_EMAIL=help@example.com
DISPATCH_HELP_SLACK_CHANNEL=#general
DISPATCH_UI_URL=https://example.com
DISPATCH_AUTHENTICATION_PROVIDER_SLUG=
SECRET_KEY=REPLACEWITHSOMETHIINGSECRET

# Database
# NOTE: Ensure that DATABASE_CREDENTIALS match the values passed to POSTGRES_USER and POSTGRES_PASSWORD
DATABASE_CREDENTIALS=dispatch:dispatch
DATABASE_HOSTNAME=postgres
DATABASE_NAME=dispatch
DATABASE_PORT=5432

# Used by postgres docker
POSTGRES_DB=dispatch
POSTGRES_PASSWORD=dispatch
POSTGRES_USER=dispatch

# Cost
ANNUAL_COST_EMPLOYEE=50000
BUSINESS_HOURS_YEAR=2080

# Incident configuration
INCIDENT_CONVERSATION_COMMANDS_REFERENCE_DOCUMENT_ID="INCIDENT_CONVERSATION_COMMANDS_REFERENCE_DOCUMENT_ID"
INCIDENT_DAILY_SUMMARY_ONCALL_SERVICE_ID=None
INCIDENT_DOCUMENT_INVESTIGATION_SHEET_ID=""
INCIDENT_DOCUMENT_INVESTIGATION_SHEET_ID="INCIDENT_DOCUMENT_INVESTIGATION_SHEET_ID"
INCIDENT_FAQ_DOCUMENT_ID=""
INCIDENT_FAQ_DOCUMENT_ID="INCIDENT_FAQ_DOCUMENT_ID"
INCIDENT_NOTIFICATION_CONVERSATIONS=""
INCIDENT_NOTIFICATION_CONVERSATIONS=""
INCIDENT_NOTIFICATION_DISTRIBUTION_LISTS=""
INCIDENT_NOTIFICATION_DISTRIBUTION_LISTS=""
INCIDENT_RESOURCE_CONVERSATION_COMMANDS_REFERENCE_DOCUMENT="google-docs-conversation-commands-reference-document"
INCIDENT_RESOURCE_FAQ_DOCUMENT="google-docs-faq-document"
INCIDENT_RESOURCE_INCIDENT_REVIEW_DOCUMENT="google-docs-incident-review-document"
INCIDENT_RESOURCE_INCIDENT_TASK="google-docs-incident-task"
INCIDENT_RESOURCE_INVESTIGATION_DOCUMENT="google-docs-investigation-document"
INCIDENT_RESOURCE_INVESTIGATION_SHEET="google-docs-investigation-sheet"
INCIDENT_RESOURCE_NOTIFICATIONS_GROUP="google-group-participant-notifications-group"
INCIDENT_RESOURCE_TACTICAL_GROUP="google-group-participant-tactical-group"
INCIDENT_STORAGE_ARCHIVAL_FOLDER_ID=""
INCIDENT_STORAGE_ARCHIVAL_FOLDER_ID=INCIDENT_STORAGE_ARCHIVAL_FOLDER_ID
INCIDENT_STORAGE_DRIVE_ID_SLUG=""
INCIDENT_STORAGE_INCIDENT_REVIEW_FILE_ID=""
INCIDENT_STORAGE_INCIDENT_REVIEW_FILE_ID=INCIDENT_STORAGE_INCIDENT_REVIEW_FILE_ID

# Plugin configuration
INCIDENT_PLUGIN_CONTACT_SLUG="slack-contact"
INCIDENT_PLUGIN_CONVERSATION_SLUG="slack-conversation"
INCIDENT_PLUGIN_DOCUMENT_RESOLVER_SLUG="dispatch-document-resolver"
INCIDENT_PLUGIN_DOCUMENT_SLUG="google-docs-document"
INCIDENT_PLUGIN_EMAIL_SLUG="google-gmail-conversation"
INCIDENT_PLUGIN_GROUP_SLUG="group-participant-group"
INCIDENT_PLUGIN_PARTICIPANT_SLUG="dispatch-participants"
INCIDENT_PLUGIN_STORAGE_SLUG="google-drive-storage"
INCIDENT_PLUGIN_TASK_SLUG="google-drive-task"
INCIDENT_PLUGIN_TICKET_SLUG="jira-ticket"

# Slack
SLACK_APP_USER_SLUG=""
SLACK_API_BOT_TOKEN=""
SLACK_SIGNING_SECRET=""
SLACK_WORKSPACE_NAME=""

# Google
GOOGLE_DEVELOPER_KEY=key
GOOGLE_DOMAIN=site.com
GOOGLE_SERVICE_ACCOUNT_CLIENT_EMAIL=info@example.com
GOOGLE_SERVICE_ACCOUNT_CLIENT_ID=id
GOOGLE_SERVICE_ACCOUNT_DELEGATED_ACCOUNT=account
GOOGLE_SERVICE_ACCOUNT_PRIVATE_KEY=key
GOOGLE_SERVICE_ACCOUNT_PRIVATE_KEY_ID=id
GOOGLE_SERVICE_ACCOUNT_PROJECT_ID=id

# Jira
JIRA_BROWSER_URL=""
JIRA_API_URL=""
JIRA_PROJECT_KEY=""
JIRA_ISSUE_TYPE_ID=""
JIRA_USERNAME=""
JIRA_PASSWORD=""

# PagerDuty
PAGERDUTY_API_KEY=""
PAGERDUTY_API_FROM_EMAIL=""
