version: "3.4"
x-restart-policy: &restart_policy
  restart: unless-stopped
services:
  postgres:
    <<: *restart_policy
    env_file:
      - .env
    image: "postgres:9.6"
    ports:
      - "5432:5432"
    volumes:
      - "dispatch-postgres:/var/lib/postgresql/data"
  web:
    <<: *restart_policy
    build:
      # Pro-tip: point this to a relative directory containing the Dispatch
      # project root to pick up changes from your dev environment
      # (e.g., ../dispatch-root)
      context: https://github.com/Netflix/dispatch.git#develop:.
    image: dispatch-local-web
    depends_on:
      - postgres
    env_file:
      - .env
    command: ["server", "start", "dispatch.main:app", "--host=0.0.0.0"]
    ports:
      - "80:8000"
  scheduler:
    <<: *restart_policy
    build:
      # Pro-tip: point this to a relative directory containing the Dispatch
      # project root to pick up changes from your dev environment
      # (e.g., ../dispatch-root)
      context: https://github.com/Netflix/dispatch.git#develop:.
      args:
        DISPATCH_LIGHT_BUILD: "1"
    image: dispatch-local-scheduler
    depends_on:
      - postgres
    env_file:
      - .env
    command: ["scheduler", "start"]
volumes:
  dispatch-postgres:
    external: true
